# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.cache
.venv/
venv/
.env

# Rust
/target/
Cargo.lock

# CMake
build/
CMakeFiles/
CMakeCache.txt
cmake-build-*/

# Node/Frontend
node_modules/
*.log

# Data
ml/registry/
ml/artifacts/
ml/data/
ml/pipelines/training/artifacts/
ml/pipelines/training/demo_artifacts/
ml/pipelines/training/demo_artifacts_ci/
ml/pipelines/training/demo_artifacts_reg/
ml/pipelines/training/mlruns/

# VS Code
.vscode/

# Misc
.DS_Store
.idea/
